#programacao{
    padding-top:100px;
}
#prog_turmas{
    margin-top:-40px;
}
th, td {
    text-align: center;
    vertical-align: middle;
}
.background{
    background-color: #007BFE;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: -4px;
}
@media (max-width: 767.98px) {
    #prog_turmas{
        margin-top:20px;
    }
}